<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity">
            <property name="max" value="5"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="max" value="4"/>
            <property name="tokens" value="LITERAL_WHILE, LITERAL_DO"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="50"/>
        </module>
        <module name="EmptyCatchBlock"/>
        <module name="AvoidStarImport">
            <property name="excludes" value="java.io,java.net"/>
        </module>
        <module name="IllegalImport"/>
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="true"/>
            <property name="tokens"
                      value="LITERAL_IF"/>
        </module>
    </module>
    <module name="FileLength"/>
    <module name="LineLength">
        <property name="max" value="150"/>
    </module>
    <module name="FileTabCharacter"/>
    <module name="RegexpHeader">
        <property name="headerFile" value="${checkstyle.header.file}"/>
    </module>
</module>